# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/cache
.next/types
next-env.d.ts

# Build outputs
dist
build
storybook-static

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VCS / IDE
.git
.gitignore
.idea
.vscode
*.swp
*.swo
*~

# Misc
.DS_Store
docs
e2e

