[submodule "packages/shopana-novaposhta-client"]
  path = packages/shopana-novaposhta-client
  url = git@github.com:shopana-io/shopana-novaposhta-client.git
[submodule "src/modules/storefront-box-builder-module"]
	path = src/modules/storefront-box-builder-module
	url = git@github.com:shopanaio/storefront-box-builder-module.git
[submodule "packages/brand-xyz"]
	path = packages/brand-xyz
	url = git@github.com:shopanaio/storefront-brand-piknik.git
